{
  "project_info": {
    "project_number": "650633860695",
    "project_id": "auracare-01",
    "storage_bucket": "auracare-01.firebasestorage.app"
  },
  "client": [
    {
      "client_info": {
        "mobilesdk_app_id": "1:650633860695:android:a238173c71e633c0d4b512",
        "android_client_info": {
          "package_name": "com.auracare.auracare"
        }
      },
      "oauth_client": [
        {
          "client_id": "650633860695-9aj7qd87bcau4rcaevchibhnic51eqo1.apps.googleusercontent.com",
          "client_type": 3
        }
      ],
      "api_key": [
        {
          "current_key": "TODO__TODO"
        }
      ],
      "services": {
        "appinvite_service": {
          "other_platform_oauth_client": [
            {
              "client_id": "650633860695-9aj7qd87bcau4rcaevchibhnic51eqo1.apps.googleusercontent.com",
              "client_type": 3
            }
          ]
        }
      }
    }
  ],
  "configuration_version": "1"
}